@mixin getFont($size, $weight, $color) {
	font-size: $size;
	font-weight: $weight;
	color: $color;
}

.app {
	display: flex;
	padding: 40px;
	gap: 20px;
	height: calc(100vh - 88px);

	&__sidebar {
		width: 15%;
		padding-left: 10px;
		&__searchdiv {
			&__title {
				@include getFont(12px, 600, $black);
			}

			&__search {
				width: 160px;
				margin-top: 20px;
				border: 0px;
				border-bottom: 1px solid $borderGray;
				padding: 2px 0 6px 4px;
				&__icon {
					width: 18px;
					vertical-align: middle;
				}
				&__input {
					border: 0px;
					padding: 2px 0 0px 6px;
					width: 130px;
					background: $backgroundWhite;
					&:focus-visible {
						outline: 0px;
					}
				}
			}
		}
		&__categorydiv {
			margin-top: 60px;

			&__title {
				@include getFont(12px, 600, #000000);
			}

			&__list {
				margin-top: 20px;
				display: flex;
				flex-direction: column;

				&__item {
					margin-top: 10px;
					@include getFont(14px, 500, #000000);

					&:first-child {
						margin-top: 0px;
					}

					&__input {
						cursor: pointer;
					}

					&__label {
						margin-left: 6px;
						cursor: pointer;
					}
				}
			}
		}
	}
	&__courses {
		width: 85%;
		&__header {
			@include getFont(16px, 500, $gray);
		}

		&__div {
			margin-top: 20px;
			display: flex;
			gap: 30px;
		}
		&__card {
			padding: 20px;
			width: 400px;
			background-color: $white;
			box-shadow: 0px 1px 3px 0px $lightGray;

			&__titlerow {
				display: flex;

				&__bluedot {
					min-height: 50px;
					min-width: 50px;
					border-radius: 30px;
					background-color: $courseBlue;
				}
				&__div {
					margin-left: 16px;
					&__title {
						@include getFont(16px, 500, $black);
					}
				}
			}
		}
	}
}

/* @media screen and (min-width: 1400px) {
  .container {
    width: 1370px;
  }
}
@media screen and (min-width: 1600px) {
  .container {
    width: 1570px;
  }
} */
@media screen and (min-width: 1900px) {
	.app {
		padding: 40px 100px;
	}
}
