@mixin getFont($size, $weight, $color) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

.app {
  display: flex;
  padding: 20px;
  gap: 20px;
  // width: 100vw;
  // height: 100vh;

  &__sidebar {
    width: 40%;
    &__searchdiv {
      &__title {
        @include getFont(14px, 600, #000000);
      }

      &__search {
        width: 300px;
        margin-top: 20px;
        border: 0px;
        border-bottom: 1px solid #e4e4e4;
        padding: 2px 0 6px 4px;
        &__icon {
          width: 18px;
          vertical-align: middle;
        }
        &__input {
          border: 0px;
          padding: 2px 0 0px 6px;
          width: 90%;
          &:focus-visible {
            outline: 0px;
          }
        }
      }
    }
    &__categorydiv {
      margin-top: 60px;
      &__title {
        @include getFont(14px, 600, #000000);
      }

      &__list {
        margin-top: 20px;
      }
    }
  }
  &__courses {
    width: 60%;
  }
}
