@import '../src/assets/styles/variables.scss';
@import '../src/assets/styles/App.scss';

body {
  font-family: 'Open Sans', sans-serif;
  background-color: $backgroundWhite;
  height: calc(100vh - 16px);
}
